body
{
    font-family: sans-serif;
}

.flexbox-container
{
    padding: 3px;
    border: 1px solid red;

    display: flex;
    /*height: 80vh;*/
    align-items: center;
    justify-content: center; /* space-beetwen zrobi równą przerwę miedzy artykułami*/
    /*flex-wrap: wrap;  lub revers(odwrotnie) elementy które się nie mieszczą zostaną przesunięte do nowej lini */
    flex-direction: row;  /*ustaia wiersze pod telefony opcja column zmienia je w kolumny*/
}

.flexbox-container div
{
    margin: 3px;
    border: 1px solid blue;

    width: 200px;
    flex-basis: 300px; /*to samo co width i height*/
}

.flexbox-container div.art1
{
    /*flex: 1;*/
    /* flex-basis: 400px  ustawia automatycznie szerokość kontenera*/
    order: 3; /*Zmienia kolejność artykułów na stronie*/
}

.flexbox-container div.art2
{
    /*flex: 3;  artykułł jest 3 razy szerszy*/
    order: 1;
}

.flexbox-container div.art3
{
    /*flex: 2; artykułł jest 2 razy szerszy*/

    /* 
        flex składa się z 3 poniższych funkcji:
        flex-grow: ;
        flex-shrink: ;
        flex-basics: ; */
        order: 2;
        align-self: flex-start; /* nadpisze align items center i konkretną kolumnę ustawi według naszego polecenia*/
}

/* Po ustawieniu na telefony należy wykonać poniższe funkcje aby strona
nie rozjechała się na kompie*/

@media (min-width: 760px)
{
    .flexbox-container
    {
        flex-direction: row; /* kontener będzie się rozszerzał na przeglądarce */
         flex-basis: 400px; /*kontener będzie miał 400px*/ 
    }
}
