<h1>Logowanie</h1>

<form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email"
        class="form-control"
        name="email"
        value="<%- form.email %>"
        id="email"
        data-ctx="email"
        required> 
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password"
        class="form-control"
        name="password"
        id="password"
        data-ctx="password"
        required> 
    </div>

    <button class="btn btn-primary" data-ctx="login1">Zaloguj!</button>

    <% if (errors) { %>
        <div class="alert alert-danger">Błędny login lub hasło</div>
    <% } %>

</form>