body
{
	background-color: #2F3237;
	color: #FFF;
	font-size: 18px;
	font-family: Verdana;
	padding: 16px;
    margin: 0 !important;
}
h1
{
    font-size: 44px;
    color:black;
    font-weight: 400;
    text-align: center;
    background-color: gold;
    height: 60px;
    
    
}
.przycisk
{
    height: 75px;
    width: 150px;
   text-align: center;
   font-size: 25px;
   background-color: green;
   color: gold;
   font-weight: 600;
}
#start
{
    text-align: center;
    
}
#napis
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    
}

#odpowiedz
{
    margin-top: 10px;
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
}
#okno
{
    height: 25px;
}
#przycisk
{
height: 30px;
}

#wynik
{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25;

}
#podaj
{
    margin-bottom: 20px;
}
.photo
{
    display: inline-block;
    margin-top: 10px;
}

#score
{
    text-align: right;
    padding-right: 50px;
    font-size: 40px;
    color: red;

}